/*http://paletton.com/#uid=14q0u0kllllaFw0g0qFqFg0w0aF*/

html, body {
    background-image: url('/img/bg.png');
    color: #490A3D;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

    text-align: center;
}

a {
    color: #2F1557;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

form {
    font-size: 25px;
    font-weight: bold;
}

select, input {
    font-size: 25px;
    height: 50px;
}

#title {
    max-width: 80%;
}

#header {
    padding: 5px 15px 5px 15px;
    background-color: #2F1557;
}

#copy {
    text-align: left;
    padding: 0 0 30px 30px;
    width: 80%;
    margin: auto;
}

#lowest {
    padding-left: 20px;
}

#hotel {
    width: 400px;
    height: 50px;
    text-align: center;
}

#nights {
    width: 75px;
    height: 50px;
    text-align: center;
}

.unavailable {
    background-color: rgba(142, 121, 174, 0.36);
    width: 50px;
}

.available {
    cursor: default;
    width: 50px;
    background: #7ab626;
}

.available.over {
    background-color: #F8CA00;
}

.currentmonth {
    background-color: #BD1550;
    font-weight: bold;
}

.weekdays {
    background-color: #E97F02;
    font-weight: bold;
}

table.calendar {
    margin: 1em 1em 2em 1em;
}

table.calendar td, table.calendar th {
    border: solid 1px #fff;
    padding: 0.5em;
    text-align: center;
}

table.calendar {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

#exit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
}

#exitPopup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
    padding: auto;
    width: 610px;
    height: 220px;
    background-color: #000;
}

ul {
    color: #f00;
    text-align: left;
}
